---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Software Open-source",
    description:
      " Utilizamos software open course pasa desarrollar coomo es el caso de Tensor IA y tambien Servidores en la nube AWS para garantizar escalabilidad ",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Industria e innovación",
    description:
      "Nuestro software fomenta la innovación tecnológica y mejora la infraestructura digital de las empresas, facilitando su adaptación a los nuevos retos del mercado global",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Donde nos puedes encontrar",
    description:
      " Tenemos campañas en Instagram o tambien nos puedes encontrar en las exposiciones en ferias de energía   ",
    icon: "bx:bxs-data",
  },
  {
    title: "Sistema modular IoT ECOGRID",
    description:
      "Sensores inteligentes para monitorizar consumo eléctrico, temperatura y humedad",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO Habilitado",
    description:
      " Los sitemaps automáticos, los feeds RSS, la paginación y las colecciones sacan el dolor del SEO y la sindicación. ¡Simplemente funciona!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Nuestra Comunidad",
    description:
      "La comunidad en el contexto de MAXIVId&a solutions podría estructurarse como un ecosistema de usuarios, aliados estratégicos y defensores de la marca que comparten un interés común por la eficiencia energética y la sostenibilidad.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    ¿ Que ofrecemos  ? 
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Desarrollo de dispositivos IoT para la gestión inteligente de recursos energéticos en hogares y pequeñas empresas, combinando telecomunicaciones y energías renovables.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
