---
// Archivo: src/components/Marquee.astro

---
  <div class="inline-block animate-marquee">
    
  </div>
<style>
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}
</style>
