---
// Archivo: src/components/Marquee.astro
const { text } = Astro.props;

---
  <div class=" animate-marquee">
    {text}
  </div>
<style>
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}
</style>
